
<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img src="/face.jpg">
      <div class="caption">
        <h3><%=@contact.name%></h3>
        <h5><%=@contact.industry%></h5>
        <p><a href="/contact/edit/<%=@contact.id%>" class="btn btn-primary" role="button">Edit Contact</a>
        </p>
        <p><a href="/comment/new/<%=@contact.id%>" class="btn btn-primary" role="button">Comment</a>
        </p>
      </div>
      <% @comments.each do |comment| %>
        <p><%=comment.content%> | <%=comment.created_at%></p>
      <%end%>
      <form action="/contact/delete/<%=@contact.id%>" method="post">
        <div style="margin:0;padding:0">
          <input name="_method" type="hidden" value="delete"/>
          <input type='submit' value='Delete Contact!' />
        </div>
      </form>
    </div>
  </div>
</div>
